html
	head
		title Magic Mock
		link(href='/css/generic.css', rel='stylesheet')
	body
		header
			h1= "Magic Mock"
		main
			section(class="hero")
				div(class="hero-content")
					hr
					div.italics
						h2.
							I know it's illegal, but it's the weekend
